$purpleDarkBlack: #24172A;
$purpleDarkStrong: #28192E;
$purpleDarkBold: #2C1B33;
$purpleDarkMedium: #301E38;
$purpleDarkRegular: #3B2844;
$purpleLightRegular: #4D3C55;
$purpleLight: #5D4E64;
$purpleLighter: #6C5E72;
$purpleThin: #796D7F;
$purpleThiner: #857A8B;

$purpleBackground: #100011;

$dark: #2b2b2b;
