$merriweatherFont: 'Merriweather', serif;
$poppinsFont: 'Poppins', sans-serif;

$defaultFontSize: 16;

$fontBlackWeight: 700;
$fontBoldWeight: 600;
$fontRegularWeight: 400;
$fontLightWeight: 300;

$paddingGap: 1rem;
$marginGap: 1rem;
