@import 'helpers/helpers';

* {
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $purpleThiner;
        border-radius: 0;
        border: none;
    }

    &::selection {
        color: #f4f4f4;
        background-color: $purpleDarkMedium;
    }
}

html {
    font-size: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: $dark;
    @include font-size($defaultFontSize);
}

a {
    text-decoration: none;
}
