@import 'helpers/helpers';

* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: $dark;
    @include font-size($defaultFontSize);
}

a {
    text-decoration: none;
}
