@import './styles/helpers/helpers';

.header {
  @include my(1rem);
  @include mx(1rem);

  @include media-notebook() {
    max-width: 50vw;
    @include my(2rem);
    @include mx(2rem);
  }
}

.title {
  font-family: $merriweatherFont;
  @include my(0, 1rem);
  @include font-size(28);
  font-weight: $fontLightWeight;

  @include media-notebook() {
    @include my(0, 2rem);
    @include font-size(36);
  }

  & > span {
    font-weight: $fontBlackWeight;
    color: $purpleLight;
  }
}

.description {
  text-align: justify;
  line-height: 1.6rem;
}